{% block form_row %}
    {% if form.vars.prototype is defined %}
        <div class="form-group {{ errors|length > 0 ? 'has-error has-feedback'  : '' }}">
            {#{ dump(form.vars) }#}
            {{ form_label(form) }}
            <ol id="{{ form.vars.id }}-fields-list" data-prototype="{{ form_widget(form.vars.prototype)|e('html_attr') }}" data-widget-tags="{{ '<li></li>'|e }}">
            {% for component in form %}
                <li>
                    {{ form_errors(component) }}
                    {{ form_widget(component) }}
                </li>
            {% endfor %}
            </ol>
            <button type="button" class="add-another-collection-widget" data-list="#{{ form.vars.id }}-fields-list">Agregar elemento</button>
        </div>
	{% else %}
        {%- set widget_attr = {} -%}
        {%- if help is not empty -%}
            {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
        {%- endif -%}
        <div{% with {attr: row_attr} %}{{ block('attributes') }}{% endwith %}>
            {{- form_label(form) -}}
            {{- form_errors(form) -}}
            {{- form_widget(form, widget_attr) -}}
            {{- form_help(form) -}}
        </div>
	{% endif %}
{% endblock form_row %}